write_files:
  - path: /home/${username}/hello.txt
    owner: ${username}:${username}
    permissions: '0644'
    content: |
      Hello World

runcmd:
  - chown ${username}:${username} /home/${username}/hello.txt