subscription_id      = [redacted]
resource_group_name  = "S1073133"
location             = "westeurope"

virtual_network_name = [redacted]
subnet_name          = [redacted]

vm_count             = 2
vm_name_prefix       = "azurevm"
vm_size              = "Standard_B2ats_v2"
admin_username       = [redacted]
ssh_public_key_path  = "/home/s1073133/.ssh/id_ed25519.pub"