#cloud-config
users:
  - name: ${username}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

package_update: true
packages:
  - wget
  - ntpdate

#cloud-config
write_files:
  - path: /home/${username}/hello.txt
    owner: ${username}:${username}
    permissions: '0644'
    content: |
      Hello World

runcmd:
  - chown ${username}:${username} /home/${username}/hello.txt