#cloud-config
users:
  - name: ${username}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

package_update: true
packages:
  - wget
  - ntpdate

write_files:
  - path: /home/${username}/.ssh/id_ed25519
    owner: ${username}:${username}
    permissions: '0600'
    content: |
${indent(6, ssh_private_key)}

  - path: /home/${username}/.ssh/id_ed25519.pub
    owner: ${username}:${username}
    permissions: '0644'
    content: |
      ${ssh_public_key}

runcmd:
  - mkdir -p /home/${username}/.ssh
  - chown -R ${username}:${username} /home/${username}/.ssh
  - chmod 700 /home/${username}/.ssh
  - chmod 600 /home/${username}/.ssh/id_ed25519
  - chmod 644 /home/${username}/.ssh/id_ed25519.pub